.school_header {
	background-color: #a52222; 
}

#department_title {
	color: #131b30;  
}

#sfa_title {
}

/* NAVBAR COLORS  */

.li_1 {
	background-color: #6f5486;
}
.li_2 {
	background-color: #ce8e13;
}
.li_3 {
	background-color: #b94c4c;
}
.li_4 {
	background-color: #8db832;
}
.li_5 {
	background-color: #3c6075;
}
.li_6 {
	background-color: #e29213;
}

/* TRI BOX */

.tri_box_single {
	background-color: #c24a4a;
}

/* HEADERS */
h3#left_column_title {
	color: #c24a4a;	
}

	h3#left_column_title a {
		color: #c24a4a;
	}
	
#post_body h1,
#post_body h2,
#post_body h3 {
	color: #c24a4a;
	line-height: 1.1em;
}

.search_listing h3 a {
	color: #c24a4a;
}

#post_body h5.event_week_single {
	margin: 0;
	color: #c24a4a;
	font-weight: normal;
}