.school_header {
	background-color: #ff8519;
}

#department_title {
	color: #131b30;  
}

#sfa_title {
}

/* NAVBAR DIFF COLOR THING */

.li_1 {
	background-color: #ff8519;
}
.li_2 {
	background-color: #93bd0c;
}
.li_3 {
	background-color: #f6a513;
}
.li_4 {
	background-color: #3f8594;
}
.li_5 {
	background-color: #f6b813;
}
.li_6 {
	background-color: #cd1512;
}

/* NAVBAR DIFF COLOR THING */