.school_header {
	background-color: #f7a92e;
}

#department_title {
	color: #131b30;  
}

#sfa_title {
}

/* NAVBAR COLORS  */

.li_1 {
	background-color: #db3856;
}
.li_2 {
	background-color: #a33b8b;
}
.li_3 {
	background-color: #31729B;
}
.li_4 {
	background-color: #d7de38;
}
.li_5 {
	background-color: #be3045;
}
.li_6 {
	background-color: #eebf2e;
}

/* TRI BOX */

.tri_box_single {
	background-color: #ffc369;
}

/* HEADERS */
h3#left_column_title {
	color: #F7972F;	
}

	h3#left_column_title a {
		color: #F7972F;
	}
	
#post_body h1,
#post_body h2,
#post_body h3 {
	color: #F7972F;
	line-height: 1.1em;
}

.search_listing h3 a {
	color: #F7972F;
}

#post_body h5.event_week_single {
	margin: 0;
	color: #F7972F;
	font-weight: normal;
}